*{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color: inherit;
}
a:hover{
  color:#350672; /* The nav purple */
}
*:active,*:focus{
   outline: none;
}
html,body,main{
  height: 100%;
  width: 100%;
  font-family: "Roboto";
}
nav{
  display: table;
  font-size: larger;
  position: fixed;
  left: 0;
  top: 0;
  width:20%;
  height: 100%;
  background-color: #350672;
  color: rgba(255,255,255,0.6);
  z-index: 1;
}
nav ul{
  margin: 15% auto;
  display: inline-block;
  vertical-align: middle;
}
nav ul li{
  border-style: solid;
  border-color: #110;
  border-width: 2px;
  margin: 2em auto;
  padding: 1em 0.5em 1em 0.5em;
  transition: transform 0.15s ease-in;
  background-color: inherit;
  background: radial-gradient(circle, rgba(0,0,0,0.15),rgba(0,0,0,0.25));
  background-position: center center;
}
nav ul li:hover{
  filter: invert(1);
  transform: translate3d(2px,2px,0);
}
body{
  text-align: center;
  color: #DA6733;
  background-color: #1A1B1B;
  background-repeat: no-repeat;
}
ul{
  list-style:none;
  font-weight: bold;
}
section{
   position: relative;
   min-height: 50%;
   width:80%;
   left:15%;
   padding-bottom: 3em;
}
section h1{
   padding-top: 1em;
  margin: 2em auto 1em auto;
  font-size: 3em;
  font-weight: 100;
  font-family: "Roboto", "Helvetica", sans-serif;
}
section h2{
   font-variant: small-caps;
}
#mainTitle{
  margin: 3em auto;
  font-size: 4em;
  font-weight: 900;
  font-family: "Raleway", sans-serif;
}
#java,#compArch{
   background-color: white;
}
#html,#interTests{
  background-color: #DA6733; /* the orange */
  color: white;
}
#javaList{
   text-align: right;
   margin: 1em 50%;
   min-width: 100px;
}
#absQuest ul{
  width: 40%;
  margin: auto;
  list-style: decimal;
  list-style-position: inside;
}
.hidden{
   display: none;
}
.visible{
   display: block;
}
.absQuest{
  width:100%;
  margin: 1em auto;
}
