*{
  margin:  0;
  padding: 0;
}
a{
  text-decoration: none;
  color:inherit;
  outline: none;
}
html,body{
  height: 150%;
  width: 100%;
}
body{
  font-family: "Roboto", sans-serif;
  color: rgb(70,110,110);
  background: linear-gradient( 0deg , #FFF, #DDDFDF);
  background-repeat: no-repeat;
}
main{
  text-align: center;
}
section{
  padding: 0.2em 0.5em 0.5em 0.5em;
  background-color: #FDFDFF;
  width:70%;
  margin: 1em auto;
  border-radius: 5px;
}
h1{
  margin: 1em 0 0 0;
  font-variant: small-caps;
  font-weight: 100;
  font-size: 3em;
}
h2,h3{
  margin: 0.5em auto;
}
ul{
  margin: 1em auto;
  list-style: decimal;
}
li{
  margin: 1em auto;
  font-size: large;
}
