*{
   margin:0;
   padding:0;
}
html{
   background-color: #FFF9F7;
   background: linear-gradient(90deg, #FFF9F7, #EAE5E0);
   font-family: "Lato", sans-serif;
   font-size: 20px;
   font-weight: 200;
}
strong{
   font-weight:900;
}
.back a{
   font-size: 65px;
   position:absolute;
   top:10px;
   left:10px;
   text-decoration:none;
}
.back a:hover{
   color:red;
}
h1{
   margin-top: 1em;
   margin-left: 2em;
   font-weight: 900;
}
h1.globalTitle{
   font-size:65px;
   font-variant:small-caps;
   text-align:center;
   font-weight: 300;

}
h2{
   font-weight: 900;
   margin-top: 0.5em;
   margin-left: 4em;
}
h3{
   margin-top: 0.3em;
   margin-bottom: 0.3em;
   margin-left: 6em;
   font-weight: 400;
}

code{
   margin-left: 10em;
   font-family: monospace;
   background-color: #4d5bd1;
   box-shadow: 0 0 5px 2px #c5d5dd;
   border-color: #3a449c;
   border-style: solid;
   display: inline-block;
   border-radius: 4px;
}
code.indent1{
   display: inline-block;
   margin-left: 12em;
}
p{
   margin-left: 8em;
   width: 60%;
}
